
/.vs
/.vscode
/Blackjack/bin
/Blackjack/obj
/PythonBlackjack/__pycache__
/PythonBlackjack/.pytest_cache
/PythonBlackjack/tests/__pycache__
/PythonBlackjack/venv
settings.json
PythonBlackjack/BlkJack.spec
PythonBlackjack/build/
PythonBlackjack/dist/
